#ContactUserCard{
    border: black solid 1px;
}

#Contacts {
    grid-column: 9/13;
    grid-row: 2/13;
    border: black solid 1px;
    margin: 6%;
    padding-bottom: 4%;
}

h3 {
    
        padding: .5% 0 0 1%;
        text-align: center;
   
}